# .github/workflows/tests.yml
name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      BASE_URL: https://gorest.co.in/public/v2        # публичный URL можно не прятать
      GOREST_TOKEN: ${{ secrets.GOREST_TOKEN || '' }}  # секрет уже должен быть создан

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          mkdir -p reports
          pytest -v -m "e2e or smoke" \
            --html=reports/report.html --self-contained-html

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: reports/*.html
